.mascot {
  background-image: url("../svg/mascot.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 519.47 / 602.18;
  width: 175px;
}

.btn {
  display: block;
  padding: 1rem 2rem;
  background-color: var(--green-dark);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

/* HERO - MOBILE */

#hero {
  padding: 1rem;
  aspect-ratio: 2 / 3;
}

#hero .speech_bubble {
  margin-top: 15vh;
  background-color: var(--cream);
  padding: 1.5rem;
  position: relative;
  max-width: 800px;
}

#hero h1 {
  font-size: 2.25rem;
}

#hero .mascot {
  position: absolute;
  right: 1rem;
  bottom: -10rem;
  background-image: url("../svg/mascot_wave.svg");
  aspect-ratio: 1320.89 / 1550.17;
}

/* HERO - DESKTOP */

@media (min-width: 800px) {
  #hero {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url("../svg/wave_v1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% -25%;
    aspect-ratio: 16 / 5;
  }

  #hero .speech_bubble {
    background-color: transparent;
    background-image: url(../svg/talebobbel.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 877 / 487;
    margin: 6rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #hero article {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    padding: 0 2rem;
    text-align: center;
  }

  #hero h1 {
    font-size: 4rem;
  }

  #hero .mascot {
    right: -250px;
    bottom: 0;
    width: 325px;
    background-image: url("../svg/mascot_wave.svg");
    aspect-ratio: 1320.89 / 1550.17;
  }
}

/* SEASONS - MOBILE */

section.cta {
  background-color: var(--cream);
  width: 100%;
  padding: 1rem;
}

section.cta h1,
section.cta h2 {
  text-align: center;
  margin: auto;
}

section.cta h1 {
  font-family: var(--title-font);
  font-size: 1.15rem;
  font-weight: 400;
  text-transform: uppercase;
}

section.cta h2 {
  font-size: 2.75rem;
  font-family: var(--display-font);
  text-transform: capitalize;
}

section.seasons a {
  display: contents;
}

article.season {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
  height: 200px;
  border: 1px solid var(--cream);
}

article.season a {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: transform 0.2s ease-in;
}

article.winter {
  background-image: url("../svg/season_winter.svg");
}

article.spring {
  background-image: url("../svg/season_spring.svg");
}

article.summer {
  background-image: url("../svg/season_summer.svg");
}

article.fall {
  background-image: url("../svg/season_fall.svg");
}

/* SEASONS - DESKTOP */

@media (min-width: 800px) {
  section.cta {
    background-color: var(--cream);
    width: 100%;
    padding: 2rem;
  }

  section.cta h1 {
    text-align: center;
    margin: auto;
    font-size: 4rem;
  }

  section.cta h1 span {
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .background {
    background-image: url("../svg/wave_v1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -10%;
    width: 100%;
  }

  section.seasons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    aspect-ratio: 2753 / 1325;
    max-width: 1600px;
    margin: auto;
  }

  article.season {
    height: 100%;
    transition: transform 0.2s ease-in;
  }

  article.season:hover {
    transform: scale(1.01);
    z-index: 1;
  }

  article.season .btn {
    margin: 1rem auto;
    width: 250px;
    max-width: 90%;
  }

  article.spring {
    background-position: 33%;
  }

  article.summer {
    background-position: 66%;
  }

  article.fall {
    background-position: 99%;
  }
}
